body{
    text-align: center;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", Verdana, "メイリオ", "M+ 1p", sans-serif;
}

nav.nav-center ul{
    text-align: center;
}
nav.nav-center ul li{
    display: inline;
    float: none;
}
nav.nav-center ul li a{
    display: inline-block;
}
img.header-icon{
    margin: 20px 0;
}

.card img{
    width: 100%;
}

.icon-container{
    margin: 10px 0;
}
.icon-container a{
    margin: 5px;
}
footer{
    margin: 20px 0;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* .icon-container i{
    margin: 10px;
} */
